{% extends "base.html" %}

{% block content %}
    <h1>blog posts!</h1>

    {% if posts|length == 0 %}
    <p>No blog posts yet!</p>

    {% else %}
            {% for post in posts %}
                <h2><a href="./blog?id={{post.Blog.id}}">{{post.Blog.title}}</a></h2>
                {{post.Blog.body}}
                <br><br>
                written by <a href="./blog?user={{post.User.username}}">{{post.User.username}}</a>
                <br><br>
                <br>
            {% endfor %}

    {% endif %}
{% endblock %}